@use 'mixins' as *;

.site-header {
  --_padding-block: calc(var(--site-padding-inline) * 2 / 3);
  inline-size: 100%;
  block-size: 5rem;
  background: var(--clr-site-bg);
  padding: var(--_padding-block) var(--site-padding-inline);
  position: relative;
  isolation: isolate;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a:not(.btn) {
    color: currentColor;
    text-decoration: none;
  }

  @at-root .site-title {
    block-size: 100%;
  
    a {
      display: inline-block;
      block-size: 100%;
    }
  
    svg {
      block-size: 100%;
    }
  }

  .skip-nav {
    position: absolute;
    inset: auto auto 0 var(--site-padding-inline);
    translate: 0 100%;
  }

  .menu-toggle svg {
    --_size: 2rem;
    --_line-height: 1.2px;
    width: var(--_size);
    height: var(--_size);
    display: block;
  }

  .menu-toggle svg rect {
    --_anim_time_1: .25s;
    --_anim_time_2: .2s;
    fill: currentColor;
    width: 10px;
    height: var(--_line-height);
    rx: calc(var(--_line-height) / 2);
    transition:
      rotate var(--_anim_time_2) ease,
      y var(--_anim_time_1) ease var(--_anim_time_2),
      width 0s linear var(--_anim_time_2);
    transform-origin: center center;
  
    &:nth-child(1) {
      y: 0px;
    }
  
    &:nth-child(2) {
      x: 2px;
      width: 8px;
      y: calc(5px - var(--_line-height) * 0.5);
    }
  
    &:nth-child(3) {
      y: calc(10px - var(--_line-height));
    }

    @include mobileMenu {
      transition:
        y var(--_anim_time_1) ease,
        rotate var(--_anim_time_2) ease var(--_anim_time_1),
        width 0s linear var(--_anim_time_1);

      &:nth-child(1) {
        y: calc(5px - var(--_line-height) * 0.5);
        rotate: -45deg;
      }
      &:nth-child(2) {
        width: 0;
      }
      &:nth-child(3) {
        y: calc(5px - var(--_line-height) * 0.5);
        rotate: 45deg;
      }
    }
  }
}

.site-nav {
  --_border-radius: .75em;
  position: absolute;
  inset: auto 0 0 0;
  z-index: -1;
  translate: 0 100%;
  padding: 0 var(--site-padding-inline);
  background: var(--clr-nav-bg);
  color: var(--clr-nav-txt);
  border-end-start-radius: var(--_border-radius);
  border-end-end-radius: var(--_border-radius);

  display: grid;
  grid-template-rows: 0fr;
  transition: all .45s ease;

  &[aria-expanded='true'] {
    grid-template-rows: 1fr;
    padding-block: var(--_padding-block) calc(var(--_padding-block) + var(--_border-radius));
  }

  &[data-state='opened'] > ul {
    display: grid;
  }

  li {
    list-style: none;
  }

  & > ul {
    overflow: hidden;
    display: none;
    grid-template-columns: [standalone-start label-start] 1fr [label-end chevron-start] 1.2em [chevron-end standalone-end];
    column-gap: .5em;

    & > li {
      display: contents;
      font-size: 1.2rem;
    
      &.search {
        display: block;
        grid-column: standalone;
      }
    
      & > :where(a, button) {
        margin-block-start: .667rem;
      }

      & > a {
        grid-column: standalone;
      
        &:has(+ .site-nav-accordion-toggler) {
          grid-column: label;
        }
      
        & + .site-nav-accordion-toggler {
          grid-column: chevron;
        }
      }
    }
  }

  .site-nav-accordion-toggler {
    display: grid;
    place-items: center;
    transform-origin: center center;
    transition: rotate .3s ease;
  
    &:has(+ div[aria-expanded='true']) {
      rotate: -180deg;
    }
  
    & + div {
      grid-column: standalone;
      display: grid;
      grid-template-rows: 0fr;
      font-size: 1rem;
      padding-inline: 1.25rem;
      transition: grid-template-rows .3s ease;
  
      &[aria-expanded='true'] {
        grid-template-rows: 1fr;
      }
  
      &[data-state='closed'] ul {
        display: none;
      }
  
      ul {
        overflow: hidden;
      }
    }
  }
}

