@use 'mixins' as *;
@use 'sass:map';
@use 'sass:list';

.site-header {
  --_anim_time_1: .25s;
  --_anim_time_2: .2s;

  --_padding-block: calc(var(--site-padding-inline) * 2 / 3);
  inline-size: 100%;
  block-size: var(--header-block-size);
  background: var(--clr-site-bg);
  padding: var(--_padding-block) var(--site-padding-inline);
  position: relative;
  isolation: isolate;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a:not(.btn) {
    color: currentColor;
    text-decoration: none;
  }

  @at-root .site-title {
    block-size: 100%;
    position: relative;
    z-index: 999;
  
    a {
      display: inline-block;
      block-size: 100%;
    }
  
    svg {
      block-size: 100%;

      @media not (prefers-reduced-motion: reduce) {
        & > g {
          *, * g {
            transition: fill var(--_anim_time_2) ease;
          }
        }
      }
    }

    &:has(~ .site-nav-toggle[aria-expanded='true']) {
      svg > g {
        *, * g {
          fill: #fff !important;
        }
      }
    }
  }

  .skip-nav {
    position: absolute;
    inset: auto auto 0 var(--site-padding-inline);
    translate: 0 100%;
  }

  .site-nav-toggle {
    svg {
      --_size: 2rem;
      --_line-height: 1.2px;
      width: var(--_size);
      height: var(--_size);
      display: block;
      position: relative;
      z-index: 999;

      rect {
        fill: currentColor;
        width: 10px;
        height: var(--_line-height);
        rx: calc(var(--_line-height) / 2);
        transform-origin: center center;

        @media not (prefers-reduced-motion: reduce) {
          transition:
            rotate var(--_anim_time_2) ease,
            y var(--_anim_time_1) ease var(--_anim_time_2),
            width 0s linear var(--_anim_time_2),
            fill var(--_anim_time_2) ease;
        }
      
        &:nth-child(1) {
          y: 0px;
        }
      
        &:nth-child(2) {
          x: 2px;
          width: 8px;
          y: calc(5px - var(--_line-height) * 0.5);
        }
      
        &:nth-child(3) {
          y: calc(10px - var(--_line-height));
        }
      }
    }

    &[aria-expanded='true'] {
      svg rect {
        fill: #fff !important;

        @media not (prefers-reduced-motion: reduce) {
          transition:
            rotate var(--_anim_time_1) ease var(--_anim_time_2),
            y var(--_anim_time_1) ease,
            width 0s linear var(--_anim_time_1);
        }

        &:nth-child(1) {
          y: calc(5px - var(--_line-height) * 0.5);
          rotate: -45deg;
        }
        &:nth-child(2) {
          width: 0;
        }
        &:nth-child(3) {
          y: calc(5px - var(--_line-height) * 0.5);
          rotate: 45deg;
        }
      }
    }
  }
}

.site-nav {
  --_border-radius: .75em;
  --_inset: calc(var(--site-padding-inline) / 2);
  --_padding-inline: var(--site-padding-inline);
  position: absolute;
  inset: var(--_inset) var(--_inset) auto;
  background: hsl(0 0% 0% / 85%);
  border-radius: .5rem;
  padding-block-start: var(--header-block-size);
  color: #fff;
  max-block-size: calc(100vh - var(--_inset) * 2);
  overflow: hidden;
  scale: 1 0;
  opacity: 0;
  transform-origin: top center;

  @media not (prefers-reduced-motion: reduce) {
    transition:
      scale var(--_anim_time_1) ease,
      opacity var(--_anim_time_2) ease;
  }

  @at-root .site-nav-toggle[aria-expanded='true'] + & {
    scale: 1;
    opacity: 1;

    @media not (prefers-reduced-motion: reduce) {
      transition:
        scale var(--_anim_time_1) ease,
        opacity var(--_anim_time_2) ease calc(var(--_anim_time_1) - var(--_anim_time_2));
    }
  }

  li {
    list-style: none;
    position: relative;

    %current-marker {
      text-decoration: underline solid var(--clr-dark-accent-400) .2em;
      text-underline-offset: .35em;
    }
    %current-marker-hover {
      text-decoration-color: #fff;
    }

    &[aria-current] > a {
      @extend %current-marker;

      &:where(:hover, :focus-visible) {
        @extend %current-marker-hover;
      }
    }

    &:has([aria-current]) > button {
      $_parent: &;
      
      span {
        @extend %current-marker;

        @at-root #{$_parent}:where(:hover, :focus-visible) #{list.nth(list.nth(&, 1), -1)} {
          @extend %current-marker-hover;
        }
      }
    }

    & > :where(a, button) {
      display: block;
      inline-size: 100%;
      text-align: start;
      padding: calc(var(--_padding-block) / 3 * 2) var(--_padding-inline);

      &:where(:hover, :focus-visible) {
        background: var(--clr-light-accent-200);
        outline: none;
      }
    }

    & > button[aria-haspopup='true'] {
      @extend .bi;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      column-gap: 1ch;
      flex-direction: row-reverse;

      &::before {
        content: map.get($bootstrap-icons-map, 'chevron-down');
        transition: rotate .25s ease;
      }
      
      &[aria-expanded='true']::before {
        rotate: -180deg;
      }
    }

    $_parent: &;

    ul {
      overflow: hidden;
      display: none;

      & > li > :where(a, button) {
        padding-inline-start: calc(var(--_padding-inline) + 1.2rem);
      }

      @at-root #{$_parent} > button[aria-expanded='true'] + #{list.nth(list.nth(&, 1), -1)} {
        display: revert;
      }
    }
  }
}

