@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 200 1000;
  src: local("Mulish"), url("/assets/fonts/mulish.woff2") format("woff2-variations");
}
@font-face {
  font-family: "Mulish";
  font-style: italic;
  font-weight: 200 1000;
  src: local("Mulish"), url("/assets/fonts/mulish_italic.woff2") format("woff2-variations");
}
:root {
  --font-txt: "Mulish", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --clr-accent-200: hsl(32 100% 70%);
  --clr-accent-300: hsl(32 100% 60%);
  --clr-accent-400: hsl(32 100% 50%);
  --clr-txt-400: hsl(32 12% 10%);
  --max-width: 87.5rem;
  --site-min-inline-padding: clamp(1.2rem, 5vi, 3rem);
  --site-inline-padding: max(var(--site-min-inline-padding), calc((100% - var(--max-width)) / 2));
  --site-block-padding: max(calc(var(--site-min-inline-padding) / 3 * 2), 1.25rem);
  --site-logo-height: clamp(60px, 14.5vi, 80px);
  font-family: var(--font-txt);
  font-size: clamp(12px, 2.5vi, 16px);
  line-height: 1.4;
  color: var(--clr-txt-400);
}

*, *::before, *::after {
  box-sizing: border-box;
}

:where(*) {
  margin: 0;
  padding: 0;
}

html {
  color-scheme: light;
  width: 100%;
}

.visually-hidden {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.visually-hidden:not(caption) {
  position: absolute !important;
}

.visually-hidden-focusable:not(:focus):not(:focus-within) {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.visually-hidden-focusable:not(:focus):not(:focus-within):not(caption) {
  position: absolute !important;
}

:where(button) {
  appearance: none;
  font: inherit;
  color: inherit;
  font-size: 1em;
  line-height: 1lh;
  background: none;
  display: inline-block;
  border: none;
  cursor: pointer;
}

svg.bi {
  block-size: 1em;
  inline-size: auto;
}

.site_header {
  padding-block: var(--site-block-padding);
  padding-inline: var(--site-inline-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  position: relative;
}
.site_header[data-navigation-open=true] {
  color: white;
}

.site_title a {
  color: inherit;
}
.site_title a svg {
  height: var(--site-logo-height);
  width: auto;
  position: relative;
  z-index: 9990;
}

.site_footer {
  grid-column: full-width;
  color: white;
}
.site_footer a {
  color: inherit;
  text-decoration: none;
  text-underline-offset: 2px;
}
.site_footer a:where(:hover, :focus-visible) {
  text-decoration: underline;
}
.site_footer li {
  list-style-type: none;
}
.site_footer__top {
  background-color: var(--clr-accent-400);
  padding-block: var(--site-block-padding);
  padding-inline: var(--site-inline-padding);
  display: grid;
  grid-auto-rows: auto;
  gap: var(--site-block-padding);
  /* grid-template-columns: 2fr 1fr 1fr; */
}
@media screen and (inline-size >= 768px) {
  .site_footer__top {
    grid-template-columns: 2fr 1fr 1fr;
  }
}
.site_footer__top__social_links ul {
  --gap: .25em;
  display: flex;
  gap: var(--gap);
  margin-inline: calc(var(--gap) * -1);
}
.site_footer__top__social_links a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  inline-size: 3rem;
  block-size: 3rem;
  border-radius: 2px;
}
.site_footer__top__social_links a:where(:hover, :focus-visible) {
  background: hsla(32, 100%, 100%, 0.3);
}
.site_footer__top__social_links svg {
  inline-size: 2rem;
  block-size: auto;
}
.site_footer__top__license a {
  text-decoration: underline;
  text-decoration-color: hsla(32, 100%, 100%, 0.5);
}
.site_footer__top__license a:where(:hover, :focus-visible) {
  text-decoration-color: white;
}
.site_footer__bottom {
  background-color: var(--clr-accent-300);
  padding-block: calc(var(--site-min-inline-padding) / 2);
  padding-inline: max(var(--site-inline-padding), (100% - var(--max-width)) / 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25em;
}
@media screen and (inline-size >= 768px) {
  .site_footer__bottom {
    flex-direction: row;
    justify-content: space-between;
  }
}
.site_footer__bottom__legal_links ul {
  display: flex;
  gap: 0.5em;
}

.skip_nav {
  background: var(--clr-accent-400);
  color: white;
  padding: 0.12em 0.2em;
  position: absolute;
  inset: auto auto 0.5rem var(--site-inline-padding);
}

.site_nav__toggle {
  position: relative;
  z-index: 9990;
}
@media screen and (inline-size >= 768px) {
  .site_nav__toggle {
    display: none;
  }
}
.site_nav__toggle svg {
  /* Size: 8 x 10 */
  block-size: 2rem;
  inline-size: auto;
}
.site_nav__toggle svg rect {
  fill: currentColor;
  width: 10px;
  height: 1px;
  rx: 0.5px;
  x: 0px;
  transition: all 0.3s ease-in-out;
  transform-origin: center center;
}
.site_nav__toggle svg rect:nth-child(1) {
  y: 0px;
}
.site_nav__toggle svg rect:nth-child(2) {
  y: 4.5px;
  width: 8px;
  x: 2px;
}
.site_nav__toggle svg rect:nth-child(3) {
  y: 9px;
}
.site_nav__toggle[data-opened=true] svg rect:nth-child(1) {
  y: 4.5px;
  rotate: -45deg;
}
.site_nav__toggle[data-opened=true] svg rect:nth-child(2) {
  x: 1px;
  scale: 0 100%;
}
.site_nav__toggle[data-opened=true] svg rect:nth-child(3) {
  y: 4.5px;
  rotate: 45deg;
}

.site_nav {
  --padding-block: calc(var(--site-block-padding) / 2);
  --padding-inline: calc(var(--site-inline-padding) / 2);
  position: absolute;
  inset: var(--padding-block) var(--padding-inline) auto;
  z-index: 9980;
  background-color: hsla(0, 0%, 0%, 0.75);
  backdrop-filter: blur(0.2rem);
  border-radius: 0.25rem;
  padding: calc(var(--site-logo-height) + var(--site-block-padding)) 1rem 1rem;
}
.site_nav[aria-expanded=false]:not(:focus):not(:focus-within) {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.site_nav[aria-expanded=false]:not(:focus):not(:focus-within):not(caption) {
  position: absolute !important;
}
.site_nav li {
  list-style: none;
}
.site_nav > ul {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.02em;
}
.site_nav > ul > li {
  white-space: nowrap;
}
.site_nav > ul > li:has(a[aria-current]) > :where(a, span) {
  color: var(--clr-accent-400);
}
.site_nav > ul > li:has(a[aria-current]) > :where(a, span)::after {
  content: "";
  position: absolute;
  inset: auto 0 -0.3em 0;
  background-color: currentColor;
  border-radius: 100vmax;
  height: 3px;
}
.site_nav a {
  color: inherit;
  text-decoration: none;
  position: relative;
  display: flex;
  column-gap: 0.3em;
  align-items: center;
}
.site_nav a.active {
  color: var(--clr-accent-400);
}
.site_nav a.active::after {
  content: "";
  position: absolute;
  inset: auto 0 -0.3em 0;
  background-color: currentColor;
  border-radius: 100vmax;
  height: 3px;
}
.site_nav a:where(:hover, :focus-visible) {
  color: var(--clr-accent-400);
}

@media not (scripting: enabled) {
  .site_header {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .site_header__nav_toggle {
    display: none;
  }
  .site_header__nav ul {
    flex-wrap: wrap;
  }
}
@media (not (scripting: enabled)) and (inline-size < 440px) {
  .site_header__nav ul {
    flex-direction: column;
  }
}
.full-width {
  grid-column: full-width;
  padding-inline: var(--layout-padding);
}

.breakout-start {
  grid-column: breakout-left;
  padding-inline: 0 var(--layout-padding-end);
}

.breakout-end {
  grid-column: breakout-right;
  padding-inline: var(--layout-padding-start) 0;
}

.layout, main {
  --layout-padding: var(--site-inline-padding);
  --layout-padding-start: var(--site-inline-padding);
  --layout-padding-end: var(--site-inline-padding);
  display: grid;
  grid-template-columns: [full-width-start breakout-left-start] var(--layout-padding-start) [content-start breakout-right-start] 1fr [content-end breakout-left-end] var(--layout-padding-end) [full-width-end breakout-right-end];
  grid-auto-rows: auto;
  justify-content: start;
  align-content: start;
}
:where(.layout > *, main > *) {
  grid-column: content;
  padding-inline: 0;
}

body {
  width: 100%;
  min-block-size: 100vh;
  min-block-size: 100dvh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.hero_teaser {
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  aspect-ratio: 21/9;
  inline-size: 100%;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem;
}
.hero_teaser::after {
  content: "";
  position: absolute;
  inset: 33.33333% 0 0;
  background-image: linear-gradient(to top, hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.5) 30%, transparent);
  z-index: -1;
}
.hero_teaser h2 {
  color: white;
  font-weight: 550;
  font-size: 1.75rem;
  margin-block-end: 1rem;
}
.hero_teaser h2 a {
  color: inherit;
  text-decoration: none;
}
.hero_teaser h2 a::after {
  content: "";
  position: absolute;
  inset: 0;
}
.hero_teaser p {
  color: white;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hero_teaser img {
  position: absolute;
  z-index: -1;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

/*# sourceMappingURL=app.css.map */
