@use '../variables';

.site_footer {
  grid-column: full-width;

  color: white;

  a {
    color: inherit;
    text-decoration: none;
    text-underline-offset: 2px;
  
    &:where(:hover,:focus-visible) {
      text-decoration: underline;
    }
  }

  li {
    list-style-type: none;
  }

  &__top {
    background-color: var(--clr-accent-400);
    padding-block: var(--site-block-padding);
    padding-inline: var(--site-inline-padding);
    display: grid;
    grid-auto-rows: auto;
    gap: var(--site-block-padding);
    /* grid-template-columns: 2fr 1fr 1fr; */

    @include variables.tablet {
      grid-template-columns: 2fr 1fr 1fr;
    }

    &__social_links {
      ul {
        --gap: .25em;
    
        display: flex;
        gap: var(--gap);
        margin-inline: calc(var(--gap) * -1);
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        inline-size: 3rem;
        block-size: 3rem;
        border-radius: 2px;
    
        &:where(:hover, :focus-visible) {
          background: hsl(32 100% 100% / 30%);
        }
      }
      svg {
        inline-size: 2rem;
        block-size: auto;
      }
    }

    &__license a {
      text-decoration: underline;
      text-decoration-color: hsl(32 100% 100% / 50%);
    
      &:where(:hover, :focus-visible) {
        text-decoration-color: white;
      }
    }
  }

  &__bottom {
    background-color: var(--clr-accent-300);
  
    padding-block: calc(var(--site-min-inline-padding) / 2);
    padding-inline: max(var(--site-inline-padding), calc((100% - var(--max-width)) / 2));
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .25em;

    @include variables.tablet {
      flex-direction: row;
      justify-content: space-between;
    }

    &__legal_links ul {
      display: flex;
      gap: .5em;
    }
  }
}